@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');


.Optionsframe{

/* Rectangle 14 */
position: absolute;
width: 873px;
height: 455px;
margin: 7px;
background: radial-gradient(50% 50% at 50% 50%, rgba(102, 102, 102, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%);
border-radius: 15px;
left: 887px;
top: 140px;


}

.designframe1{
    /* Rectangle 38 */

box-sizing: border-box;

position: absolute;
width: 245px;
height: 385px;
margin: 15px;

background: linear-gradient(270deg, rgba(255, 255, 255, 0.12) 0%, rgba(153, 153, 153, 0) 29.18%);
border-radius: 11px;
transform: matrix(-1, 0, 0, 1, 0, 0);




}

.designframe2{
/* Rectangle 39 */

box-sizing: border-box;
position: absolute;
width: 245px;
height: 385px;
margin-top: 15px;
margin-left: 615px;

background: linear-gradient(270deg, rgba(255, 255, 255, 0.12) 0%, rgba(153, 153, 153, 0) 29.18%);
border-radius: 20px;


}

.choice1frame{
 /* Rectangle 13 */
    box-sizing: border-box;
    position: absolute;
    width: 245px;
    height: 415px;
    margin: 20px;
    margin-left: 55px;

    background: radial-gradient(75.85% 75.85% at 50% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(153, 153, 153, 0.5) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-radius: 11px;
}

.image1 {
    margin : 7px;
    width: 215px; /* adjust the width as needed */
    height: auto; /* maintain aspect ratio */
    max-width: 100%; /* ensure responsiveness */
    background: #4a4a4a; /* fallback color */
    border-radius: 7px;
    border: 3px solid rgba(61, 217, 189, 0.2);
}

.image22 {
    margin : 7px;
    width: 215px; /* adjust the width as needed */
    height: auto; /* maintain aspect ratio */
    max-width: 100%; /* ensure responsiveness */
    background: #4a4a4a; /* fallback color */                                                   
    border-radius: 7px;
    border: 3px solid #bba48c;
}

.logoPostal{
    position: absolute;
    width: 90px; /* adjust the width as needed */
    height: auto;
    top: 40px;
    left: 75px;
    
}

.goRequierment{
  /* Rectangle 30 */
    box-sizing: border-box;
    width: 223px;
    height: 104px;
    margin-left: 6px;
    margin-top: -5px;

    background: rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.2);
}

.goText{
    width: 90px;
    margin : 10px;
}

.textholder{
 /* Forem ipsum dolor sit amet, consectetur adipis cing elit. Nunc vulputate libero et velit interduı aliquet odio matti consectetur adipis. */

position: absolute;
width: 199px;
height: auto;
margin-top: -6px;
margin-left: 14px;

font-family: 'Sentic';
font-style: normal;
font-weight: 70;
font-size: 9px;
line-height: 10px;
color: rgba(255, 255, 255, 0.32);
font-family: 'Sen', sans-serif;
}

.quantity{ 
/* Group 32 */
position: absolute;
width: 70px;
height: 22px;
margin-top: 32px;
margin-left: 14px;

background: rgba(255, 255, 255, 0.12);
border-radius: 1px;
}

.box{
    margin-top: 3px;
    margin-left: 7px;
    width: 17px;
}

.quant{
margin-top: -18.5px;
margin-left: 33px;

font-family: 'Sen', sans-serif;
font-weight: 100;
font-size: 14px;
line-height: 12px;
color: #FFFFFF;
}

.MoneyEarned{
    position: absolute;
    width: 70px;
    height: 22px;
    margin-top: 32px;
    margin-left: 90px;
    
    background: rgba(255, 255, 255, 0.12);
    border-radius: 1px;
}

.MoneyEarnedLogo{
    margin-top: 3px;
    margin-left: 7px;
    width: 15px;
}

.MoneyEarnedText{
margin-top: -17px;
margin-left: 30px;
font-family: 'Sen';
font-weight: 100;
font-size: 13px;
line-height: 12px;
color: #FFFFFF;
}

.MoneyEarnedTextk{
    margin-top: -25px;
    margin-left: 53px;
    font-family: 'Sen';
    font-weight: 100;
    font-size: 13px;
    line-height: 12px;
    color: #cccaca;
}




.PlayerReq{ position: absolute;
    width: 40px;
    height: 22px;
    margin-top: 32px;
    margin-left: 166px;
    
    background: rgba(255, 255, 255, 0.12);
    border-radius: 1px;
}

.PlayerReqLogo{
    margin-top: 3px;
    margin-left: 5px;
    width: 15px;
}

.PlayerReqText{
    margin-top: -17px;
    margin-left: 25px;
    font-family: 'Sen';
    font-weight: 100;
    font-size: 13px;
    line-height: 12px;
    color: #FFFFFF;
}

.missionText{    
    box-sizing: border-box;
    width: 223px;
    height: 80px;
    margin-left: 6px;
    margin-top: 5px;

    background: rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.2);
}

.textholderMission{
    position: absolute;
    width: 199px;
    height: auto;
    margin-top: 7px;
    margin-left: 14px;
    
    font-family: 'Sentic';
    font-style: normal;
    font-weight: 70;
    font-size: 9px;
    line-height: 10px;
    color: rgba(255, 255, 255, 0.32);
    font-family: 'Sen', sans-serif;
}

.ButtonSelect{
box-sizing: border-box;
position: absolute;
width: 220px;
height: 31px;
margin-top: 6px;
margin-left: 7px;

background: rgba(255, 255, 255, 0.54);
border: 2px solid rgba(255, 255, 255, 0.5);
border-radius: 5px;

/* Select */

font-family: 'Sen';
font-style: normal;
font-size: 13px;
line-height: 12px;
color: #FFFFFF;

}

.ButtonSelect:hover{
    background: rgba(255, 255, 255, 0.54);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    cursor: pointer;
    color: #757575;
}






















.choice2frame{

/* Rectangle 13 */

box-sizing: border-box;

position: absolute;
width: 245px;
height: 415px;
margin: 20px;
margin-left: 315px;


background: radial-gradient(75.85% 75.85% at 50% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(153, 153, 153, 0.5) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
border: 5px solid rgba(255, 255, 255, 0.2);
border-radius: 11px;
}

.choice3frame{
    /* Rectangle 13 */

box-sizing: border-box;

position: absolute;
width: 245px;
height: 415px;
margin: 20px;
margin-left: 575px;

background: radial-gradient(75.85% 75.85% at 50% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(153, 153, 153, 0.5) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
border: 5px solid rgba(255, 255, 255, 0.2);
border-radius: 11px;

}

