@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');

body {
    background-color: transparent;
}


.framecontainer {
    left: 887px;
    top: 611px;
    position: absolute;
    width: 873px;
    height: 383px; /* Permet le scroll si nécessaire */
    margin: 7px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(102, 102, 102, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%);
    border-radius: 15px;
    overflow-y: scroll; /* Garde le scroll actif */
    scrollbar-width: none; /* Masque la scrollbar sur Firefox */
}

    /* Masquer la scrollbar sur Chrome, Edge et Safari */
.framecontainer::-webkit-scrollbar {
    display: none;
}
  
.framecontainerPlayerStatus-1::-webkit-scrollbar {
    display: none;
}


.playercontainer{
/* Group 28 */
position: relative;
width: 854px;
height: 74px;
margin: 10px;
border-radius: 10px;
background: radial-gradient(75.85% 75.85% at 50% 50%, rgba(107, 107, 107, 0.5) 0%, rgba(153, 153, 153, 0.5) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;




}

.playertime{/* Rectangle 44 */

    position: absolute;
    width: 115px;
    height: 44px;
    left: 0px;
    top: 0px;
    margin-top: 15px;
    margin-left: 525px;

    background: rgba(0, 0, 0, 0.12);
    border-radius: 3px;

    /* 01:45:34 */
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13.3391px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: rgba(255, 255, 255, 0.2);


}

.lobby{ 
width: 115px;
height: 44px;
left: 1167px;
top: 242px;
left: 50%;
margin-top: 15px;
margin-left: 650px;

background: radial-gradient(62.5% 62.5% at 50% 50%, rgba(236, 201, 126, 0.34) 0%, rgba(134, 114, 70, 0.34) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
border: 2px solid rgba(236, 201, 126, 0.14);
border-radius: 3px;

/* Text */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 13.3391px;
line-height: 16px;

color: #ECC97E;

}

.ready{ 
    width: 115px;
    height: 44px;
    left: 1167px;
    top: 242px;
    left: 50%;
    margin-top: 15px;
    margin-left: 650px;
    
    background: radial-gradient(62.5% 62.5% at 50% 50%, rgba(126, 236, 219, 0.34) 0%, rgba(72, 134, 124, 0.34) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border: 2px solid #7EECDB24;
    border-radius: 3px;
    
    /* Text */
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13.3391px;
    line-height: 16px;
    
    color: #6BF9E4;
    
}

.afk{ 
    width: 115px;
    height: 44px;
    left: 1167px;
    top: 242px;
    left: 50%;
    margin-top: 15px;
    margin-left: 650px;
    
    background: radial-gradient(62.5% 62.5% at 50% 50%, rgba(255, 255, 255, 0.34) 0%, rgba(134, 134, 134, 0.34) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border: 2px solid #FFFFFF24;
    border-radius: 3px;
    
    /* Text */
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13.3391px;
    line-height: 16px;
    
    color: #d5d5d5;
    
}

.inviteB{
    
/* Rectangle 42 */

box-sizing: border-box;

position: absolute;
width: 44px;
height: 44px;
margin-top: 15px;
margin-left: 10px;

background: rgba(255, 255, 255, 0.56);
border: 2px solid rgba(255, 255, 255, 0.64);
border-radius: 3px;
}

.inviteB:hover{
    background: rgba(194, 194, 194, 0.54);
    border-radius: 3px;
    cursor: pointer;
    color: #757575;
}

.profiLogo{
/* Ellipse 3 */

box-sizing: border-box;

position: absolute;
width: 50px;
height: 50px;
left: 60px;
top: 14px;

border-radius: 50px;

border: 3px solid #79F1E0;

}

.profiLogo2{
box-sizing: border-box;

position: absolute;
width: 50px;
height: 50px;
left: 27px;
top: 14px;
border-radius: 50px;

background: rgba(217, 217, 217, 0.48);
border: 3px solid rgba(255, 255, 255, 0.24);
}
    
.profileLogo2{
    width: 30px;
    height: auto;
    margin-top: 7.5px;
    margin-left: 6.5px;
}

.PlayerName{

    position: absolute;
    left: 122px;
    top: 5px;

    font-family: 'Sen';
    font-style: normal;
    font-weight: 450;
    font-size: 15px;
    line-height: 16px;

    color: #FFFFFF;
}

.noIdea{
    position: absolute;
    left: 122px;
    top: 22.5px;
    
    font-family: 'Sen';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 16px;
    color: #c0c0c0; 
}

.level{
    margin-top : -14px;
    margin-left: 120px;
    width: 50px;
    height: 15px;

}

.levellogo{
    margin-top: -10px;
    margin-left: 0px;
}

.leveltext{
    /* 12.Lvl */

position: absolute;
width: 23px;
height: 10px;
margin-top: -13.5px;
        margin-left: 15px;


font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 8.27945px;
line-height: 10px;
/* identical to box height */

color: #79F1E0;

}
